NET "CLK2_N" LOC = H1;
NET "CLK2_N" IOSTANDARD = LVDS_33;
NET "CLK2_N" DIFF_TERM = "TRUE";
NET "CLK2_P" LOC = H2;
NET "CLK2_P" IOSTANDARD = LVDS_33;
NET "CLK2_P" DIFF_TERM = "TRUE";

NET "FPGA_LED2" LOC = A16;
NET "FPGA_LED2" IOSTANDARD = LVCMOS33;

NET "APOPTOSIS" LOC = K1;
NET "APOPTOSIS" IOSTANDARD = LVCMOS33;

NET "ECSPI3_MISO" LOC = A3;
NET "ECSPI3_MISO" IOSTANDARD = LVCMOS33;

NET "FPGA_HSWAPEN" LOC = D4;
NET "FPGA_HSWAPEN" IOSTANDARD = LVCMOS33;

NET "RESETBMCU" LOC = F1;
NET "RESETBMCU" IOSTANDARD = LVCMOS33;

NET "EIM_BCLK" LOC = C9;
NET "EIM_BCLK" IOSTANDARD = LVCMOS33;
NET "EIM_CS[0]" LOC = B11;
NET "EIM_CS[0]" IOSTANDARD = LVCMOS33;
NET "EIM_CS[1]" LOC = A15;
NET "EIM_CS[1]" IOSTANDARD = LVCMOS33;

NET "EIM_DA[0]" LOC = G9;
NET "EIM_DA[0]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[0]" SLEW = FAST;
NET "EIM_DA[1]" LOC = A10;
NET "EIM_DA[1]" IOSTANDARD = LVCMOS33; 
NET "EIM_DA[1]" SLEW = FAST;
NET "EIM_DA[2]" LOC = F9;
NET "EIM_DA[2]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[2]" SLEW = FAST;
NET "EIM_DA[3]" LOC = B9;
NET "EIM_DA[3]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[3]" SLEW = FAST;
NET "EIM_DA[4]" LOC = E13;
NET "EIM_DA[4]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[4]" SLEW = FAST;
NET "EIM_DA[5]" LOC = F13;
NET "EIM_DA[5]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[5]" SLEW = FAST;
NET "EIM_DA[6]" LOC = A9;
NET "EIM_DA[6]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[6]" SLEW = FAST;
NET "EIM_DA[7]" LOC = A8;
NET "EIM_DA[7]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[7]" SLEW = FAST;
NET "EIM_DA[8]" LOC = B8;
NET "EIM_DA[8]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[8]" SLEW = FAST;
NET "EIM_DA[9]" LOC = D8;
NET "EIM_DA[9]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[9]" SLEW = FAST;
NET "EIM_DA[10]" LOC = D11;
NET "EIM_DA[10]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[10]" SLEW = FAST;
NET "EIM_DA[11]" LOC = C8;
NET "EIM_DA[11]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[11]" SLEW = FAST;
NET "EIM_DA[12]" LOC = C7;
NET "EIM_DA[12]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[12]" SLEW = FAST;
NET "EIM_DA[13]" LOC = C11;
NET "EIM_DA[13]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[13]" SLEW = FAST;
NET "EIM_DA[14]" LOC = C4;
NET "EIM_DA[14]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[14]" SLEW = FAST;
NET "EIM_DA[15]" LOC = B6;
NET "EIM_DA[15]" IOSTANDARD = LVCMOS33;
NET "EIM_DA[15]" SLEW = FAST;

NET "EIM_A[16]" LOC = A11;
NET "EIM_A[16]" IOSTANDARD = LVCMOS33;
NET "EIM_A[17]" LOC = B12;
NET "EIM_A[17]" IOSTANDARD = LVCMOS33;
NET "EIM_A[18]" LOC = D14;
NET "EIM_A[18]" IOSTANDARD = LVCMOS33;

NET "EIM_LBA" LOC = B14;
NET "EIM_LBA" IOSTANDARD = LVCMOS33;
NET "EIM_OE" LOC = C10;
NET "EIM_OE" IOSTANDARD = LVCMOS33;
NET "EIM_RW" LOC = C14;
NET "EIM_RW" IOSTANDARD = LVCMOS33;
NET "EIM_WAIT" LOC = A7;
NET "EIM_WAIT" IOSTANDARD = LVCMOS33;

